*{
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

#external-styling{
	color: yellow;
}

h1 {
	font-size: 40px;
}

h2 {
	text-transform: uppercase;
}

.languages-to-be-learned{
	background-color: #aed0a1;
}


li[target]{
	border: 2px solid navy;
}

/*Adjacent Selector*/
div + ul {
	list-style-type: none;
}

/*Descendant Selector*/
div img{
	border-radius: 360px;
	height: 120px;
	width: 120px;

}

/*Child Selector*/
section > ul > li{
	letter-spacing: 5px;

}

/*ID Selector*/
ul ~ p{
	text-align: center;
}